@media (min-width: 768px) {
    .navbar { 
        min-height: 57px;
    }

    #accordion { 
        height: auto;
        overflow-y: hidden;
     }

    
}

.card-header h5 a { 
    text-transform: capitalize
}